.o_form_view .o_inner_group {
    margin-bottom: 10px !important;
} 

.pb-2  {
    margin-bottom: 30px !important;
} 

.fa fa-trash-o {
    color: #111827 !important;
}

.btn-link {
    color: #111827!important;
}

.o_form_view .o_horizontal_separator:not(:empty) {
    font-size: 16px !important;
}

.mt-4 {
    margin-top: 1px !important;
}

.fw-bolder {
    font-weight: normal !important;
}

.btn-next-update {
    margin-top: 2px !important;
}

.btn-update {
    margin-top: 7px !important;
    margin-bottom: 5px !important;
}

.field {
    width: 300px !important;
}

.oi  {
    font-size: 9px !important;
}

.badge-numero {
    background-color: #d8dadd !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

button.fa-times[name="delete"] {
    display: none !important;
}